$font-logo: "Bungee", sans-serif;
$font-main: "Source Sans Pro", sans-serif;
$title: #ffffff;
$primary: #4056a1;
$primary-lighter: #506bc7;
$primary-darker: #374a8b;
$secondary: #545149;
$secondary-darker: rgb(65, 65, 65);
$error: #f56a6a;
$shadow: rgba(0, 0, 0, 0.5);