$font-logo: "Bungee", sans-serif;
$font-main: "Source Sans Pro", sans-serif;
$title: #ffffff;
$primary: #4056a1;
$primary-lighter: #506bc7;
$primary-darker: #374a8b;
$secondary: #545149;
$secondary-darker: rgb(65, 65, 65);
$tertiary: rgb(175, 188, 202);
$tertiary-lighter: rgb(249, 252, 255);
$tertiary-darker: rgb(137, 145, 155);
$bg-color: #f4f1ec;
$error: #f56a6a;
$shadow: rgba(0, 0, 0, 0.5);

$header-img: url("../images/painting.jpg");