@import "global";

#profile-header {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 36px;
  color: $title;
  background-image: url("https://image.pbs.org/video-assets/MQWKWFk-asset-mezzanine-16x9-Sd4ev3E.jpg");
  background-size: cover;
  background-position: center;

  div {
    width: 30%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 200px;
    border: 2px solid $title;
    border-radius: 100%;
  }

  img:hover {
    width: 205px;
  }

}

@media only screen and (min-width: 1200px) {

  #profile-header {
    height: 100vh;
    width: 60%;
    background-attachment: fixed;
    position: sticky;
    background-position: top;
    top: 0px;
    box-shadow: 1px 0px 10px $shadow;

    div {
      position: fixed;
      top: 25vh
    }

  }

}