@import "global";

nav {
  color: $title;
  height: 120px;
  width: 100%;
  background-color: $primary;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  user-select: none;
}

#logo {
  font-family: $font-logo;
  font-size: 42px;
  cursor: pointer;

  &:hover {
    animation: bounce 0.5s infinite alternate;
  }

}

#compose-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.arrow {
  width: 15px;
  margin: auto;
  padding-top: 5px;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }

}