@import "global";

#all-tweets {

  &:nth-child(1) {
    margin-top: 0px;
  }

  & > span {
    color: $tertiary-darker;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    transition: 1s;
  }

}

.tweet {
  margin: 25px 5px;
  padding: 25px;
  border: 4px solid $secondary-darker;

  a {
    font-weight: 600;
    color: $primary;
    text-decoration: none;

    &:hover {
      color: $primary-lighter;
    }

    &:active {
      color: $primary-darker;
    }

  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .author {
    display: flex;
    align-items: center;

    img {
      height: 50px;
      margin-right: 15px;

      &:nth-child(2) {
        height: 20px;
        margin-left: 5px;
      }

    }

  }

  .handle {
    color: $tertiary;
    visibility: hidden;
  }

  p {
    width: 100%;
    margin-bottom: 10px;
    padding: 0px 15px 30px 15px;
    border-bottom: 4px solid $secondary-darker;
    overflow-wrap: break-word;
  }

  footer {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;

    img {
      height: 18px;
      width: 18px;
      margin: 5px;
      padding: 1px;
      border: 1px;
      cursor: pointer;
      filter: saturate(100%) brightness(70%);
    }

  }

  &:hover {
    color: $secondary-darker;
    background-color: $title;
    box-shadow: 8px 8px $tertiary;

    .handle {
      visibility: visible;
    }

    footer img {
      filter: saturate(100%) brightness(50%);

      &:hover {
        filter: saturate(100%) brightness(70%);
      }

      &:active {
        padding: 2px;
      }

    }

  }

}