@import "global";

#all-tweets {

  &:nth-child(1) {
    margin-top: 0px;
  }

  & > span {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: $tertiary-darker;
    transition: 1s;
  }

}

.tweet {
  border: 4px solid $secondary-darker;
  margin: 25px 5px;
  padding: 25px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .author {
    display: flex;
    align-items: center;
    img {
      height: 50px;
      margin-right: 15px;
    }
  }

  .handle {
    color: $tertiary;
    visibility: hidden;
  }

  p {
    width: 100%;
    padding: 0px 15px 30px 15px;
    margin-bottom: 10px;
    border-bottom: 4px solid $secondary-darker;
    overflow-wrap: break-word;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 15px;
    user-select: none;

    img {
      height: 18px;
      width: 18px;
      margin: 5px;
      filter: hue-rotate(45deg) saturate(30%) brightness(70%); /* invert() */
      cursor: pointer;
      border: 1px;
      padding: 1px;
    }

  }

  &:hover {
    background-color: $tertiary-lighter;
    box-shadow: 8px 8px $tertiary;
    color: $secondary-darker;

    .handle {
      visibility: visible;
    }

    footer img {
      filter: hue-rotate(45deg) saturate(30%) brightness(50%); /* invert() */

      &:hover {
        filter: hue-rotate(45deg) saturate(100%) brightness(70%); /* invert() */
      }

      &:active {
        padding: 2px;
      }

    }

  }

}
