@import "global";
@import "nav";
@import "header";
@import "new-tweet";
@import "tweet";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-main;
  font-size: 24px;
  color: $secondary;
  background-color: $bg-color;
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

img,
button {
  user-select: none;
}

#scroll-btn {
  @include center-all;
  height: 80px;
  width: 80px;
  background-color: $primary;
  border-radius: 100%;
  position: fixed;
  z-index: 9;
  right: 16px;
  bottom: 25px;
  visibility: hidden;
  opacity: 0.5;
  user-select: none;
  cursor: pointer;

  img {
    height: 60px;
    width: 40px;
    margin-bottom: 5px;
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }

}

@media only screen and (min-width: 1200px) {

  body > div {
    display: flex;
    flex-direction: row;
  }

  main {
    margin: auto;
    width: 60%;
  }

}