html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#scroll-btn {

  height: 80px;
  width: 80px;
  opacity: 0.7;
  cursor: pointer;
  user-select: none;
  background-color: #4056a1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  z-index: 9;
  position: fixed;
  right: 25px;
  bottom: 15px;
}

#scroll-btn img {
  filter: brightness(100) invert() hue-rotate(63deg);
  height: 60px;
  width: 40px;
  transform: rotate(180deg);
  margin-bottom: 5px;
}
