.tweet {
  border: 4px solid rgb(65, 65, 65);
  margin: 15px 5px;
  padding: 25px;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid red;
}

.tweet .author {
  display: flex;
  align-items: center;
}

.tweet .author img {
  height: 50px;
  margin-right: 15px;
  filter: invert(30%);
}

.tweet .handle {
  color: rgb(175, 188, 202);
}

.tweet footer img {
  height: 20px;
}
