.tweet {
  border: 4px solid rgb(65, 65, 65);
  margin: 15px 5px;
  padding: 25px;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid red;
}

.tweet img {
  height: 50px;
  margin-right: 15px;
  filter: invert(20%);
}

.tweet .author {
  display: flex;
  align-items: center;
}

.tweet .handle {
  color: rgb(175, 188, 202);
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 600;
}

.tweet footer img {
  height: 16px;
  margin: 0;
}
